<div class="aboutContainer">

<img src="https://scontent.fbos1-1.fna.fbcdn.net/v/t1.0-9/13346880_10154052964075239_5622202862369632412_n.jpg?oh=edc9fbcb78a195372d2f598b29393bae&oe=58716B52" alt="my photo" class="aboutMePhoto">

<h2>About Me</h2>

<p>Born and raised in Cumberland, RI. I grew up playing football, baseball, video games, and even loved acting. When I was 15, my family moved to Sault Ste. Marie, ON to purchase Trout Lake Cabins and Marina. Over the next several years, I completed high school at White Pines where I continued my football and acting career. After several offers to play football for Canadian colleges, I decided to return to Rhode Island where I received a full scholarship through the Army ROTC program at URI.</p>

<p>This is where I spent the next four years, majoring in Communication Studies with a minor in Leadership. While attending URI, I was very active within the University community; I joined Sigma Pi Fraternity where I was elected as Secretary of the E-Board and nominated to be President senior year (I declined to live off campus), I was elected president of RAM GOALs (Responsible Alcohol Management for Greek Organizations and Leaders) where we made several presentations in front of 1000s of Greek members, and I also held the rank of Captain in ROTC.</p>

<p>Less than a year after graduating URI and becoming a 2LT, I was selected by the Rhode Island National Guard to attend flight training at Fort Rucker, Alabama. Over the next year and a half, I was trained how to fly the Bell 206 Jet Ranger, OH-58 Kiowa Warrior, and UH-60 Blackhawk helicopters. After graduation and returning home to RI in 2013, I continued my flight training, just recently making it to Readiness Level 1, a fully mission ready pilot.</p>

<p>Since returning from Flight School, I have worked at several different RI companies including Picerne Realty, Collette Vacations, and Delta Mechanical Contractors. While I learned a lot about business, marketing, and project management, I did not find that I was happy in any of these positions. I felt that they were repetitive and uncreative. This is when I started getting into photography. Luckily for me, my mom is an incredible photographer (check out her site here) and not only gave me some of her equipment but has shared invaluable knowledge about the craft.</p>

<p>Since picking up Photography I have worked on several professional projects including weddings, interviews with senators, the RI Boy Scouts 100th anniversary celebration, corporate events, engagements, and have even been featured on the news. While this is all great, most of the time, I just enjoy taking pictures of my dog Rucker.</p>

<p>Shortly after picking up Photography, I wanted to pursue my other new passion, technology. This is something looking back, that I should have pursued all along. I mean, it practically runs in my family. My aunt, 2 uncles, 2 cousins, and little brother are all programmers/former programmers. Watching my uncles growing up I was amazed by the lifestyle and seemingly endless knowledge they possessed. However, when I first started learning to program in high school, I was immediately intimidated by it, gave up, and switched classes.</p>

<p>While this was the case then, this won't be the case now. Since restarting on my coding journey, I have completed LaunchCode's CS50x, Rob Percival's Complete Web Developer's Course 2.0 on Udemy, and was 1 of 25 applicants out of 100+ accepted into Rhode Island's first General Assembly Web Development Immersive class!</p>

<p>To be continued...</p>

</div>
