<h2>Contact Me</h2>

<div class="container">
            <div id="error"></div>

            <form method="post">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject">
                </div>
                  <div class="form-group">
                    <label for="content">What would you like to ask me?</label>
                    <textarea class="form-control" id="content" name="content" rows="5"></textarea>
                  </div>
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>


            </form>


        </div>
