<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="container">
        <img src="https://scontent.xx.fbcdn.net/v/t31.0-8/13731931_10153901415046936_7165847616361923582_o.jpg?oh=ba299bdcf1967eacb6cf9626d30356f0&oe=58DC128E" alt="First slide" class="sliderImages">
        <div class="carousel-caption">
          <h3 class="display-4">Welcome to Matthew Connors Photography!</h3>
          <p class="display-6">Specializing in Engagements</p>
        </div>
      </div>
    </div>

      <div class="carousel-item">
        <div class="container">
        <img src="https://photos-3.dropbox.com/t/2/AADPNXEZ9qsbF8fOIGqjE1mW4J4awX7FtsGFQVtRxEyoBQ/12/31694285/jpeg/32x32/1/_/1/2/20161230-_N9A7280.jpg/ELOcgBgYhTYgAigC/64-L8p_2Nyrgin46itxeMpHr2E9utdZWbxV8qH9pSoo%2CcXJS2Tpkxnffpt_MbtdhhnJ-p8IoOrvjqrW4Ve8xyZ4?size=2048x1536&size_mode=3" alt="Second slide" class="sliderImages">
        <div class="carousel-caption">
          <p>Weddings</p>
      </div>
    </div>
  </div>

  <div class="carousel-item">
    <div class="container">
        <img src="https://photos-3.dropbox.com/t/2/AADHGSlt7mwZxpsOoWsU9FrTrcbVkmmOuJJ0ghNT7um37Q/12/31694285/jpeg/32x32/1/_/1/2/20161211-_N9A6329.jpg/ELOcgBgYhTYgAigC/Rw9PJdWTuCAmwNBN50dZxNg8jjA-tNQ3lcMpFSh_1kM?size=2048x1536&size_mode=3" alt="Second slide" class="sliderImages">
        <div class="carousel-caption">
          <p>Portraits</p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container">
      <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12219407_10153609400295239_1917906495480663513_n.jpg?oh=928143de0386eaed77022c0ae368d56e&oe=5916013D" alt="Third slide" class="sliderImages">
    </div>
    <div class="carousel-caption">
      <p>&amp; even Pets</p>
    </div>
    </div>
  </div>


  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="buffer">

</div>
<div class="buffer">

</div>


<div class="buffer">

</div>

<div class="feature-container reviews">

<div class="featurette">
<h2 class="featurette-heading">Professional.</h2>
<p class="lead">With over 6 years experience in the military, I will always be on time and will always get the job done, no matter what.</p>
</div>

<div class="featurette">
<h2 class="featurette-heading">Thorough.</h2>
<p class="lead">Knowing when and what to take photos of is critical.  I ensure that every special moment is captured on your special day. </p>
</div>

<div class="featurette">
<h2 class="featurette-heading">Fun.</h2>
<p class="lead">The most important thing is to have fun!  If you aren't comfortable with your photographer the shots will never come out.</p>
</div>

</div>

<div class="container">
<%= link_to "Check out my Portfolio", portfolio_path, class: "btn btn-success white" %>
</div>
