<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="container">
        <img src="https://s27.postimg.org/nzltu2jnn/kaitandcullen.jpg" alt="First slide" class="sliderImages">
        <div class="carousel-caption">
          <h3 class="display-4">Welcome to Matthew Connors Photography!</h3>
          <p class="display-6">Specializing in Engagements</p>
        </div>
      </div>
    </div>

      <div class="carousel-item">
        <div class="container">
        <img src="https://s28.postimg.org/bo07asqe5/wedding.jpg" alt="Second slide" class="sliderImages">
        <div class="carousel-caption">
          <p>Weddings</p>
      </div>
    </div>
  </div>

  <div class="carousel-item">
    <div class="container">
        <img src="https://s30.postimg.org/ogjpxa2fl/dara.jpg" alt="Second slide" class="sliderImages">
        <div class="carousel-caption">
          <p>Portraits</p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container">
      <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12219407_10153609400295239_1917906495480663513_n.jpg?oh=928143de0386eaed77022c0ae368d56e&oe=5916013D" alt="Third slide" class="sliderImages">
    </div>
    <div class="carousel-caption">
      <p>&amp; even Pets</p>
    </div>
    </div>
  </div>


  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="buffer">

</div>
<div class="buffer">

</div>


<div class="buffer">

</div>

<div class="feature-container reviews">

<div class="featurette">
<h2 class="featurette-heading">Professional.</h2>
<p class="lead">With over 6 years experience in the military, I will always be on time and will always get the job done, no matter what.</p>
</div>

<div class="featurette">
<h2 class="featurette-heading">Thorough.</h2>
<p class="lead">Knowing when and what to take photos of is critical.  I ensure that every special moment is captured on your special day. </p>
</div>

<div class="featurette">
<h2 class="featurette-heading">Fun.</h2>
<p class="lead">The most important thing is to have fun!  If you aren't comfortable with your photographer the shots will never come out.</p>
</div>

</div>

<div class="container reviews">
<%= link_to "Check out my Portfolio", portfolio_path, class: "btn btn-success white" %>
</div>
<div class="buffer reviews">

</div>
