<div class="buffer">

</div>
<div class="container">
  <h2 class="display-4"><span id="contact"></span>Product</h2>
</div>
<div class="container">
<%= link_to "(back)", :back %>
</div>

<div class="container">

</div>
