<div class="buffer">

</div>
<div class="container">
  <h1 class="display-4"><span id="contact"></span>Reviews</h1>
</div>

<div class="container reviews">

  <blockquote>
    Matt Connors was awesome to work with! He was so willing to hear all of our ideas, but also gave us plenty of direction when it came to the post-ceremony pictures. We only had an hour to get all of the pictures we wanted before our reception started, and Matt made sure to get in everything we were wanting. Matt's girlfriend Taylor was there assisting him, and she was wonderful as well. She came up to snap some photos of the girls getting ready and she made everyone feel so comfortable. It was like we were just hanging out with our friends. I would absolutely recommend Matt to my fellow brides and grooms who are stressing over finding a good photographer. If I could do it all over again, the only thing I would change would be to get married in warmer weather so we could have gotten more pictures outside!
  </blockquote>
</div>
<div class="container">
  <p class="author lead">Nicole Celani</p>
</div>
