<div class="buffer">

</div>
<div class="container">
<h1>Editing Album</h1>
</div>
<div class="container">
<%= render 'form', album: @album %>
</div>
<div class="container">
<p><%= link_to 'Show', @album %> |
<%= link_to 'Back', albums_path %></p>
</div>
