<div class="buffer">

</div>
<div class="container">
<h1>Editing Photo</h1>
</div>
<div class="container">
<%= render 'form', photo: @photo %>
</div>
<div class="container">
<p><%= link_to 'Show', @photo %> |
<%= link_to 'Back', photos_path %></p>
</div>
