<h1><%= @photo.id %></h1>
<%= link_to "Edit", edit_photo_path(@photo) %>
<%= link_to "Delete", @photo, method: :delete, data: { confirm: 'Are you sure?' }%>
<div class="photo">
  <%= image_tag @photo.image_address %>
</div>
