/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* FULL PAGE CSS */

.title {
  font-size: 250%;
}

img {
  height: 300px;
}

h2 span {
  font-size: 70%;
}

h2 {
  font-size: 200%;
}

.navLinks{
  width:500px;
  display: block;
  float:right;
}

body {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif;
}

/* HOME PAGE */




/* ABOUT US PAGE */

.photoDiv {
  display: block;
  margin: 0 auto;
}

.aboutMePhoto {
  border-radius: 50%;
  width: 300px;
  display: block;
  margin: 0 auto;
}

.aboutContainer {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  background-color: lightgreen;
  padding: 20px;
  border-radius: 10px;
}

/* PORTFOLIO PAGE */






/* CONTACT ME PAGE */
